In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Preprocessing and train/test split

In [ ]:
df = pd.read_csv('./data/full/magic_full.csv', header=None)
print(np.unique(df[10], return_counts=True))
df

In [11]:
df = pd.read_csv('./data/full/magic_full.csv', header=None)
print(np.unique(df[10], return_counts=True))
df

(array([0, 1]), array([12332,  6688]))

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,0
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,0
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,0
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,0
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,0
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,1
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,1
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,1
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,1
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,1

In [23]:
balanced = pd.concat([df.loc[np.random.choice(df[df[10]==0].index, 6688)], df[df[10]==1]])
balanced

,0,1,2,3,4,5,6,7,8,9,10
700,22.1067,13.7589,2.5289,0.5118,0.2648,12.0620,-14.7138,-10.8676,1.3180,199.3880,0
2144,33.0715,18.5809,2.5453,0.3590,0.1866,-40.8824,-15.0010,-11.9420,11.0830,236.2680,0
4331,48.3426,16.9195,3.1407,0.2199,0.1132,43.9440,32.3363,4.1885,0.3860,193.9430,0
4594,67.9392,23.9354,3.4596,0.2141,0.1102,-56.1803,44.3933,-11.5944,5.3057,275.3170,0
6010,40.5427,19.5610,3.0199,0.2464,0.1380,39.2392,25.2336,11.9324,21.1203,175.3790,0
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,1
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,1
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,1
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,1
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,1

In [25]:
balanced.to_csv('./data/full/magic_balanced.csv', header=False, index=False)

In [39]:
balanced = pd.read_csv('./data/full/magic_balanced.csv', header=None)
balanced

,0,1,2,3,4,5,6,7,8,9,10
0,22.1067,13.7589,2.5289,0.5118,0.2648,12.0620,-14.7138,-10.8676,1.3180,199.3880,0
1,33.0715,18.5809,2.5453,0.3590,0.1866,-40.8824,-15.0010,-11.9420,11.0830,236.2680,0
2,48.3426,16.9195,3.1407,0.2199,0.1132,43.9440,32.3363,4.1885,0.3860,193.9430,0
3,67.9392,23.9354,3.4596,0.2141,0.1102,-56.1803,44.3933,-11.5944,5.3057,275.3170,0
4,40.5427,19.5610,3.0199,0.2464,0.1380,39.2392,25.2336,11.9324,21.1203,175.3790,0
...,...,...,...,...,...,...,...,...,...,...,...
13371,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,1
13372,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,1
13373,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,1
13374,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,1
13375,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,1

In [48]:
X = balanced.drop(columns=[10])
y = balanced[10]
scaler = StandardScaler()
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, stratify=y)
np.savez('./data/full/magic_train.npz', X=X_train, y=y_train)
np.savez('./data/full/magic_test.npz', X=X_test, y=y_test)

In [52]:
data = np.load('./data/full/magic_test.npz')
(data["X"]==0).sum()

0

# Save Imbalanced Data for different ratios

In [53]:
from datasets import TableDataset
from data_utils import DatasetImbalanced

In [77]:
train_file = './data/full/magic_train.npz'
test_file = './data/full/magic_test.npz'
train_data = TableDataset.from_npz(train_file, train=True)
test_data = TableDataset.from_npz(test_file, train=False)

In [78]:
# ir 20
ir =100
train_imb = DatasetImbalanced(train_data, imbalance_ratio=1/ir, create_complement_dataset=True)
test_imb = DatasetImbalanced(test_data, imbalance_ratio=1/ir)

In [79]:
train_imb.save_npz(f'./data/ir{ir}/magic_train_ir_{ir}.npz')
test_imb.save_npz(f'./data/ir{ir}/magic_test_ir_{ir}.npz')

In [80]:
np.savez(f'./data/ir{ir}/magic_train_complement.npz', 
         X=train_imb.complement_dataset.data.numpy(),
         y=train_imb.complement_dataset.target.numpy()
        )

In [81]:
train_imb.target.sum()

tensor(44.)

In [82]:
test_imb.target.sum()

tensor(22.)